header {
	font-family: fantasy;
	letter-spacing: 0.1em;
	background-color: #000000;
	height: 100px;
	text-align: center;
	font-size: 19px;
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
	font-family: fantasy;
	letter-spacing: 0.2em;
	font-size: 20px;
	background-color: #000000;
	color: #d17dff;
}

table {
  margin-top: 5px;
	margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
}


tr:nth-child(even) {
	background-color: #3e3742;
}

th, td {
	padding: 5px;
  text-align: left;
  vertical-align: top;
	width: 100%;
}

p {
	color: #ffffff;
}

a[href] {
	color: #fff454
}

footer {
	height: 100px;
	clear: both;
}